.body2 {
  background-color: #ffebee;
  padding: 40px;
  border-radius: 120px;
}
.card2 {
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}

.form-control {
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #039be5;
}
.agree-text {
  font-size: 12px;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  height: 50px;
  border-radius: 10px;
}
